<table class="side_menu" style="width: 80%" align="center" >
   <tr class="first_row">
      <td class="first_td">ברוכים הבאים 
      {{ request.session.user_logged_in_fname }}
        ! <br> במה נוכל לעזור?</td>
     
   </tr>
   <tr class="side_menu">
      <td class="side_menu"> <a class="side_menu_link" href="{% url "artwork_albums" %}">ניהול יצירות</a></td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu" ><a class="side_menu_link" href="{% url "newProgram" %}">תכנית חדשה</td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu">  <a class="side_menu_link" href="{% url "new_meeting" %}"> קבע פגישה</td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu">לקוחות</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">יומן הסטודיו</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">העלאת קבצים</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu" ><a  class="side_menu_link" href="{% url "admin_update_details"  %}">
         עדכון משתמשים</a></td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">הכנסות והוצאות</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">עדכון פרטים אישיים</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">התנתק מהמערכת</td>
   </tr>
</table>
</body>
