{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "base_page.css" %}">
{% endblock css_files %} 

<table class="side_menu" style="width: 80%" align="center" >
   <tr class="first_row">
      <td class="first_td">ברוכים הבאים 
      {{ request.session.user_logged_in_fname }}
        ! <br> במה נוכל לעזור?</td>
     
   </tr>
   <tr class="side_menu">
      <td class="side_menu"> <a class="side_menu_link" href="{% url "artwork" %}">יצירות בתהליך</a></td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu">לוח זמנים ומשימות</td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu" ><a class="side_menu_link" href="{% url "meetings" %}"> פגישות</a></td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu" >פגישה ראשונה</td>
   </tr>
   <tr class="side_menu" >
      <td class="side_menu">דיווח שעות</td>
   </tr>
   <tr class="side_menu">
      <td class="side_menu" ><a  class="side_menu_link" href="{% url 'update_personal_details' user_id=request.session.user_logged_in_id%}">
         עדכון פרטים אישיים</a></td>
   </tr>
   
</table>
</body>
