{% load static%}
<table class="headers"  dir="rtl" align="center" cellspacing="0" cellpadding="0">
    <tr class="headers">
    <td class="headers" name="logo" style="width: 5%">
        <img src="{% static "studio/images/logo2.jpg" %}" />
        </td>
    <td class="headers" style="width: 10%">
    האולפן
    </td>
    <td class="headers" style="width: 10%">
    השירותים שלנו</td>
    <td class="headers" style="width: 10%">
    השכרת אולפן
    </td>
    <td class="headers" style="width: 10%">
    על הצוות
    </td>
    <td class="headers" style="width: 12%">
    &nbsp;</td>
    <td class="headers" style="width: 12%">
    &nbsp;</td>
    <td class="headers" style="width: 15%">
    אזור אישי
    {% if request.session.is_logged_in%}
    <br>
    <a href="{% url "logout_link"  %}">התנתק</a>
    {%endif%}
</td>

    </tr>
</table>