{% load static%}
<table class="headers"  dir="rtl" align="center" cellspacing="0" cellpadding="0">
    <tr class="headers">
    <td class="headers" name="logo" style="width: 5%">
        <img src="{% static "studio/images/logo2.jpg" %}" />
        </td>
    <td class="headers" style="width: 10%">
        <a class="headers" href="https://dynamicstudio.co.il/">האולפן</a>
    </td>
    <td class="headers" style="width: 10%">
    <a class="headers" href="https://dynamicstudio.co.il/music-prod/">השירותים שלנו</a></td>
    <td class="headers" style="width: 10%">
        <a class="headers" href="https://dynamicstudio.co.il/rent/">השכרת אולפן</a>
    </td>
    <td class="headers" style="width: 10%">
        <a class="headers" href="https://dynamicstudio.co.il/team/">על הצוות</a>
    </td>
    <td class="headers" style="width: 12%">
    &nbsp;</td>
    <td class="headers" style="width: 12%">
    &nbsp;</td>
    <td class="headers" style="width: 15%">
    
    {% if request.session.is_logged_in%}
    <br>
    <a class="headers" href="{% url "logout_link"  %}">התנתק</a>
    {%else %}
    <a class="headers" href="{% url "index-page"  %}">אזור אישי</a>
    {%endif%}
</td>

    </tr>
</table>