{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 


<!--  toggle button setup-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="checkbox"]').click(function() {
                var inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            });
        });
    </script>
<!-- end of toggle button setup -->

<!-- enabling popup-->    
<script type="text/javascript">
    function windowpop(url,width, height) {
        //var url = "{% url 'notes' creation_id=5 %}"
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 7) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 200);
        //Open the window.
        window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
    }
</script>

<!-- end of enabling popup-->    

{% block content%}


<!-- Toggle button -->
{% if exists_completed_creations %}
<div name="toggle_button">
    <table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
    <tr>
    <td>
        <label> <input type="checkbox" name="colorCheckbox"  value="creations_done"> הצג יצירות שהושלמו</label>
    </td>
    </tr>
    </table>
</div>
{% endif %}
<!-- CREATIONS <> NOT DONE-->

<div id='creations_not_done' >
{% for creation,phases in creations_phases_not_done.items %}

<br>

<table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
    <tr>
        <td width="15%">שם היצירה: 
        </td>
        <td width="85%" class="creations_td_header">{{creation.name}}
        </td>
    </tr>
</table>

<table class="creations_table" width="100%" align="center" dir="rtl" >
   <tr> 
        {% for p in phases %}
    <td   class="creations_td" align="center" valign="bottom" >
        <span id="{{p.phase_id}}" class="employee_{{p.status.desc}}" onclick="clicked_on_circle_manager('{{p.phase_id}}')"></span>
    </td>
    <td rowspan="2"  align="center">
        {% if not forloop.last %}
            <i class="arrow"></i>
        {% else %}
            <td rowspan="2"></td>
        {% endif %}
        
    </td>
         {%endfor%}
         <td rowspan="2">{% include "studio/pages/creations_page/includes/manager_buttons.html"%}</td>
        </tr>
   <tr>
      {% for p in phases %}
      <td   class="creations_td" valign="top" >{{p.name}}</td>
      {%endfor%}
   </tr>
</table>
<br>

{%endfor%}
</div>

<!-- documenting_changes_to_phases -->
<form action="" method="post">
    {% csrf_token %}
    <table>
    <div id="changes_regis" style="display: none;"> {{ update_phases_form.changes }} </div>
    </table>
    <input id='approve_changes_button' name="submit" type="submit" style="display: none;" value="שמור שינויים" />
  </form>


<!-- CREATIONS <> DONE-->

<div class='creations_done' style="display:none;"> <!-- controlled by toggle button-->
    {% for creation,phases in creations_phases_done.items %}
    
    <br>
    
    <table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
        <tr>
            <td width="15%">שם היצירה: 
            </td>
            <td width="85%" class="creations_td_header">{{creation.name}}
            </td>
        </tr>
    </table>
    
    <table class="creations_table" width="100%" align="center" dir="rtl" >
       <tr> 
            {% for p in phases %}
        <td   class="creations_td" align="center" valign="bottom" >
            <span id="{{p.phase_id}}" class="employee_{{p.status.desc}}" onclick="clicked_on_circle_manager('{{p.phase_id}}')"></span>        </td>
        <td rowspan="2"  align="center">
            {% if not forloop.last %}
                <i class="arrow"></i>
            {% else %}
                <td rowspan="2"></td>
            {% endif %}
            
        </td>
             {%endfor%}
       <td rowspan="2">{% include "studio/pages/creations_page/includes/manager_buttons.html"%}</td>
       </tr>
       <tr>
          {% for p in phases %}
          <td  class="creations_td" valign="top" >{{p.name}}</td>
          {%endfor%}
       </tr>
    </table>
    <br>
    
    {%endfor%}
    </div>





<!-- SPECIAL NOTES TEST P2-->


{%endblock%}