{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 


<!-- toggle button setup-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('input[type="checkbox"]').click(function() {
                var inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            });
        });
    </script>

<!-- end of toggle button setup -->

<!-- enabling popup-->    
    <script type="text/javascript">
        function windowpop(url,width, height) {
            //var url = "{% url 'notes' creation_id=5 %}"
            var leftPosition, topPosition;
            //Allow for borders.
            leftPosition = (window.screen.width / 7) - ((width / 2) + 10);
            //Allow for title and status bars.
            topPosition = (window.screen.height / 2) - ((height / 2) + 200);
            //Open the window.
            window.open(url, "Window2", "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
        }
    </script>
    
<!-- end of enabling popup-->    

    




{% block content%}

<div id="TESTURL" style="display: none;">
    <!--{% include 'studio/pages/notes_page/notes_main.html' with creation_id=5 %}-->
  

</div>


<!-- SPECIAL NOTES TEST P1
<div  class="bg-modal" >
    <div class="modal-content">
        <h1>הוסף הערה</h1>
        <form>
            <textarea name="TextArea1" cols="40" rows="8" placeholder="הזינו את ההערה כאן"></textarea><br>
            <input type="submit">
        </form>
        <div class="close">+
        </div>
    </div>
</div>-->

<!-- SPECIAL NOTES TEST P1-->
<div  class="bg-modal" >
    <div class="modal-content">
        <div class="close">+
        </div>
        <div id="include_notes_link"></div>
    </div>
</div>

<br>

<!-- Toggle button -->
{% if exists_completed_creations %}
<div name="toggle_button">
    <table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
    <tr>
    <td>
        <label> <input type="checkbox" name="colorCheckbox"  value="creations_done"> הצג יצירות שהושלמו</label>
    </td>
    </tr>
    </table>
</div>
{% endif %}


<!-- CREATIONS <> NOT DONE-->

<div id='creations_not_done' >
{% for creation,phases in creations_phases_not_done.items %}

<br>

<table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
    <tr>
        <td width="15%">שם היצירה: 
        </td>
        <td width="85%" class="creations_td_header">{{creation.name}}
        </td>
    </tr>
</table>

<table class="creations_table" width="100%" align="center" dir="rtl" >
   <tr> 
        {% for p in phases %}
    <td   class="creations_td" align="center" valign="bottom" >
        <span id="{{p.phase_id}}" class="customer_{{p.status.desc}}"></span>
    </td>
    <td rowspan="2"  align="center">
        {% if not forloop.last %}
            <i class="arrow"></i>
        {% else %}
            <td rowspan="2"></td>
        {% endif %}
        
    </td>
         {%endfor%}
         <td rowspan="2">{% include "studio/pages/creations_page/includes/customer_buttons.html"%}</td>
        </tr>
   <tr>
      {% for p in phases %}
      <td   class="creations_td" valign="top" >{{p.name}}</td>
      {%endfor%}
   </tr>
</table>
<br>

{%endfor%}
</div>

<!-- CREATIONS <> DONE-->

<div class='creations_done' style="display:none;"> <!-- controlled by toggle button-->
    {% for creation,phases in creations_phases_done.items %}
    
    <br>
    
    <table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
        <tr>
            <td width="15%">שם היצירה: 
            </td>
            <td width="85%" class="creations_td_header">{{creation.name}}
            </td>
        </tr>
    </table>
    
    <table class="creations_table" width="100%" align="center" dir="rtl" >
       <tr> 
            {% for p in phases %}
        <td   class="creations_td" align="center" valign="bottom" >
            <span id="{{p.phase_id}}" class="customer_{{p.status.desc}}"></span>
        </td>
        <td rowspan="2"  align="center">
            {% if not forloop.last %}
                <i class="arrow"></i>
            {% else %}
                <td rowspan="2"></td>
            {% endif %}
            
        </td>
             {%endfor%}
       <td rowspan="2">{% include "studio/pages/creations_page/includes/customer_buttons.html"%}</td>
       </tr>
       <tr>
          {% for p in phases %}
          <td   class="creations_td" valign="top" >{{p.name}}</td>
          {%endfor%}
       </tr>
    </table>
    <br>
    
    {%endfor%}
    </div>


<!-- SPECIAL NOTES TEST P2-->

{%endblock%}