{% load static %}
{% block content%}
<br>
{% for creation,phases in creations_phases.items %}

<br>

<table class="creations_table creations_table_header" width="100%" align="center" dir="rtl">
    <tr>
        <td width="15%">שם היצירה: 
        </td>
        <td width="85%" class="creations_td_header">{{creation.name}}
        </td>
    </tr>
</table>
<table class="creations_table" width="100%" align="center" dir="rtl" >
   <tr> 
        {% for p in phases %}
    <td   class="creations_td" align="center" valign="bottom" >
        <span id="{{p.phase_id}}" class="customer_{{p.status.desc}}"></span>
    </td>
    <td rowspan="2"  align="center">
        {% if not forloop.last %}
            <i class="arrow"></i>
        {% else %}
            <td rowspan="2"></td>
        {% endif %}
        
    </td>
   {%endfor%}
   <td rowspan="2">{% include "studio/includes/creations_page_includes/customer_buttons.html"%}</td>
   </tr>
   <tr>
      {% for p in phases %}
      <td   class="creations_td" valign="top" >{{p.name}}</td>
      {%endfor%}
   </tr>
</table>
<br>

{%endfor%}
{%endblock%}