{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 



<table>
    <tr>
        <td><button class="button" onclick="openInNewTab('{% url "last_version" creation_id=creation.id%}')">גרסא אחרונה</button> </td>
        <td><button class="button" onclick="location.href='{% url "delete_creation" creation_id=creation.id%}';"  >מחק יצירה</button> </td>
    </tr>
    <tr>
        <td><button class="button" onclick="return windowpop('{% url 'notes' creation_id=creation.id %}',330, 330)">שלח הערה</button> </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    
</table>

<div>
    </div>
