{% extends 'base.html' %}
{% load static %}


{% block title %}
Edit Details
{% endblock title %}


{% block css_files %}
<link rel="stylesheet"  href="{% static  "user_details_css.css"  %}">
{% endblock css_files %} 


{% block content%}

{{message}}

<form action="{% url 'update_personal_details' user_id=u.id%}" method="POST">
   {% csrf_token %}

<table class = user_detail_table >
    <tr>
       <td>שם פרטי :
         {{ update_form.fname }}
       </td>
    </tr>
    <tr>
       <td>שם משפחה :
         {{ update_form.lname }}
       </td>
    </tr>
    <tr>
       <td>עיר :
         {{ update_form.city }}
       </td>
    </tr>
    <tr>
       <td> ארגון:
         {{ update_form.organization }}
       </td>
    </tr>
    <tr> 
       <td> תאריך לידה:
         {{ update_form.dob }}
       </td>
    </tr>
    <tr>
      <td> טלפון:
        {{ update_form.phone }}
      </td>
   </tr>
    <tr>
       <td> סיסמא נוכחית:
         {{ update_form.current_password }}
       </td>
    </tr>
    <tr>
       <td> סיסמא חדשה:
         {{ update_form.new_password }}
       </td>
    </tr>
    <tr>
       <td> חזור על סיסמא חדשה:
         {{ update_form.repeat_new_password }}
       </td>
    </tr>

    <tr> 
       <td>   <button type="submit"> אישור </button>
       </td>
    </tr>
    </table>


{%endblock%}
