{% extends 'base.html' %}
{% load static %}



{% block title %}
Admin Update User Details
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "admin_details_update_css.css" %}">
{% endblock css_files %} 

{% block js_files %} 
<script type="text/javascript">
	function delete_user(url) {
		var txt;
		if (confirm("Are you sure you want to delete the user?")) {
			txt = "User getting deleted!";
			location.replace(url)
		} else {
			txt = "You pressed Cancel!";
		}
		document.getElementById("confirmation_message").innerHTML = txt
	
	}
</script>	
	
{% endblock js_files %}

{% block content%}
<br>
<p id="confirmation_message"> </p>
<table>

	<tr  style="text-decoration: underline;">
        
		<td style="height: 24px" class="auto-style1">סוג משתמש</td>
        <td style="height: 24px" class="auto-style1">ת.ז.</td>
		<td style="height: 24px" class="auto-style1"> ת. הרשמה</td>
		<td style="height: 24px" class="auto-style1">שם פרטי</td>
		<td style="height: 24px" class="auto-style1">שם משפחה</td>
		<td style="height: 24px" class="auto-style1">כניסה אחרונה</td>
		<td style="height: 24px" class="auto-style1">מחק משתמש</td>
		<td style="height: 24px" class="auto-style1">עדכן משתמש</td>


	</tr>
    <tr>
		<td colspan="5"><br></td>   
	</tr>
    {% for u  in  users %}
	<tr>
        <td>{{u.user_type}}</td>
        <td>{{u.id}}</td>
        <td>{{u.dor}}</td>
		<td>{{u.fname}}</td>
        <td>{{u.lname}}</td>
        <td>{{u.last_login}}</td>

<!--
        <td>{{u.user_type}}</td>
        <td>{{u.user_type}}</td>
    -->
		{% include "studio/pages/admin_update_details_page/includes/admin_update_details_buttons.html"%}   

	</tr>
    {% endfor %}
    
	<tr>
		<td colspan="5"><br></td>   
	</tr>


</table>
{%endblock%}


