{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 
{% block css_files %}
{% endblock css_files %} 
{% block title %}
{{creation_name}}
{% endblock title %}
{% block content%}
<h1> {{creation_name}} </h1><br>
{%if notes %} 
<table style="width: 100%;table-layout: fixed;color:white">
{% for note in notes %}
    {% if 'customer' in request.session.user_type %}
        {%if note.user.user_type='customer'%}
        <tr>
            <td style="text-align: center">{{note.time_sent}}</td>
            <td style="text-align: center">{{note.text}}</td>
            <td style="text-align: center"></td>
        </tr>
        {% endif %}
    {% endif %}
    {%else%}
        {%if note.user.user_type='customer'%}
        <tr>
            <td style="text-align: center">{{note.time_sent}}</td>
            <td style="text-align: center">{{note.text}}</td>
            <td style="text-align: center"></td>
        </tr>
        {% else note.user.user_type!='customer'%}
        <tr>
            <td style="text-align: center">{{note.time_sent}}</td>
            <td style="text-align: center"></td>
            <td style="text-align: center">{{note.text}}</td>
        </tr>

        {% endif %} 
    {% endif %}
{% endfor %}
</table>
<br>

{%else%}
אין הערות הקשורות ליצירה
{%endif%}

{%endblock%}