{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 
{% block css_files %}
<link rel="stylesheet" href="{% static "notes_css.css" %}">
{% endblock css_files %} 
{% block title %}
{% endblock title %}
{% block content%}
{%if notes %} 
<table class="notes_table" >
    {% if 'customer' in request.session.user_type %}
        {% for note in customer_notes %}
        {% include "studio/pages/notes_page/mods/notes_client.html" %}
        {% endfor %}
    {%else%}
        {% for note in all_notes %}
            {% include "studio/pages/notes_page/mods/notes_noclient.html" %}
        {% endfor %}
    {% endif %}
</table>
{% endif %}

<br>
<form action="{% url 'notes' creation_id=creation_id %}" method="POST">
    {% csrf_token %}
    <table width='100%' dir='rtl' class="add_note_form_table">
        <tr>
            <td width="70%" align='right'>
                {{new_note.text}}
            </td>
            <td width="30%" align='left' >
                <button id="send_button">הוספת הערה</button>
            </div></td>
        </tr>
        
    

</table>
</form>

{%endblock%}