{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 
{% block css_files %}
{% endblock css_files %} 
{% block title %}
{{creation_name}}
{% endblock title %}
{% block content%}
<h1> {{creation_name}} </h1><br>
{%if notes %} 
{% for note in notes %}
<table style="width: 100%;table-layout: fixed;">
	<tr>
		<td style="text-align: center">שליחה מישהו אחר</td>
		<td style="text-align: center">&nbsp;</td>
		<td style="text-align: center">שליחה שלי</td>
		<td style="text-align: center">תאריך</td>
	</tr>
</table>
    {{note.text}}<br>

{% endfor %}
{%else%}
אין הערות הקשורות ליצירה

{%endif%}

{%endblock%}