.button {
    background-color: rgba(40, 44, 43, 0.90);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    min-width: 100;
    cursor: pointer;
}

.button_highlighted {
    color: #E65656
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.employee_not_done {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.employee_pending_approval {
    height: 25px;
    width: 25px;
    background-color: rgb(228, 146, 23);
    border-radius: 50%;
    display: inline-block;
}

.employee_approved {
    height: 25px;
    width: 25px;
    background-color: rgb(43, 155, 71);
    border-radius: 50%;
    display: inline-block;
}

.employee_not_approved {
    height: 25px;
    width: 25px;
    background-color: #FF4742;
    border-radius: 50%;
    display: inline-block;
}

.customer_not_done {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.customer_pending_approval {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.customer_approved {
    height: 25px;
    width: 25px;
    background-color: rgb(43, 155, 71);
    border-radius: 50%;
    display: inline-block;
}

.customer_not_approved {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.creations_table {
    width: 80%;
    background-color: black;
    font-size: 24px;
    color: white;
    border: thin aliceblue solid;
    margin-left: auto;
    margin-right: auto;
}

.creations_table_header {
    font-size: 18px;
}

.creations_td {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.creations_td_header {
    text-align: right;
}

.creations_td_status {
    text-align: center;
    border: thin aqua solid;
    font-size: 10px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    position: absolute;
    left: 400px;
    width: 400px;
    height: 300px;
    background-color: white;
    opacity: 0.95;
    border-radius: 5px;
    padding: 20px;
    color: black;
    justify-content: center;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 42;
    transform: rotate(45deg);
    cursor: pointer;
}

.comment_button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.comment_button:hover,
.comment_button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.comment_buttonactive {
    opacity: .5;
}