.button {
    background-color: rgba(40, 44, 43, 0.90);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    min-width: 100;
    cursor: pointer;
}

.button_highlighted {
    color: #E65656
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.customer_not_done {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.customer_pending_approval {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.customer_approved {
    height: 25px;
    width: 25px;
    background-color: rgb(43, 155, 71);
    border-radius: 50%;
    display: inline-block;
}

.customer_not_approved {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.creations_table {
    width: 80%;
    background-color: black;
    font-size: 24px;
    color: white;
    border: thin aliceblue solid;
    margin-left: auto;
    margin-right: auto;
}

.creations_table_header {
    font-size: 18px;
}

.creations_td {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.creations_td_header {
    text-align: right;
}

.creations_td_status {
    text-align: center;
    border: thin aqua solid;
    font-size: 10px;
}