.customer_meeting_table {
    width: 80%;
    background-color: black;
    font-size: 24px;
    color: white;
    border: thin aliceblue solid;
    margin-left: auto;
    margin-right: auto;
}

.customer_meeting_table {
    text-align: center;
}

.side_menu_link {
    color: white;
}