.newphaseTableOptionsLabel {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.phaseTableOptionsLabel {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.label {
    color: white;
    font-weight: bold;
}