#id_albumName {
    background-color: black;
    color: white;
}

#insert_creation_name_field {
    background-color: black;
    font-weight: bold;
    color: white;
}

.labelclass {
    color: white;
    font-weight: bold;
}

.newphaseTableOptionsLabel {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.phaseTableOptionsLabel {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.label {
    color: white;
    font-weight: bold;
}