{% load static %}
<html lang="he">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %} {% endblock %} </title>
      <link rel="stylesheet" href="{% static "base_page.css" %}">
         {% block css_files %}
         {% endblock css_files %} 
   </head>
   <body>
	{% include "studio/includes/mainframe/top_headers.html" %}
   <table class="content_table" width="100%" dir="rtl" >
       <tr>
          <td class="content_table" width="16.5%" valign="top">
             {% include "studio/includes/mainframe/side_menu_main.html" %}
          </td>
          <td class="content_table" width="83.5%" valign="top"> 
             {% include "blank.html"%}
          </td>
       </tr>
    </table> 
   </body>
</html>