{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} </title>

<link rel="stylesheet" href="{% static 'app.css' %}"

    {% block css_files %}
    {% endblock css_files %}
</head>
<body>

    <table id="first_table" style="border: 1px solid #CE233C; border-radius: 5px; width: 100%; height: 100%; " dir="rtl" align="center" cellspacing="0" cellpadding="0">
        <tr style="background-color: #CE233C">
           <th id="first_row" style="width: 5%">
           </th>
           <th id="first_row" style="width: 10%; font-family: Assistant; color: #FFFFFF; font-size: 18px;">
              האולפן
           </th>
           <th id="first_row" style="width: 10%; font-family: Assistant; color: #FFFFFF; font-size: 18px;">
              השירותים שלנו
           </th>
           <th id="first_row" style="width: 10%; font-family: Assistant; color: #FFFFFF; font-size: 18px;">
              השכרת אולפן
           </th>
           <th id="first_row" style="width: 10%; font-family: Assistant; color: #FFFFFF; font-size: 18px;">
              על הצוות
           </th>
           <th id="first_row" style="width: 12%">
           </th>
           <th  id="first_row" style="width: 12%">
           </th>
           <th id="first_row" style="border-radius:25px;width: 15%; font-family: Assistant; height: 50px;">
              <table style="border: 2px solid #F5414F; border-radius: 50px; 100%; height: 70%" align="center">
                 <tr>
                    <td style="font-size: 22px;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;אזור אישי&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                 </tr>
              </table>
    
</body>
</html>