<!--{% load static %} -->
<html lang="he">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="basepage_css.css">
      <!-- <title>{% block title %} {% endblock %} </title> -->
      <title>Studio</title>
      <!--<link rel="stylesheet" href="{% static 'app.css' %}"
         {% block css_files %}
         {% endblock css_files %} -->
   </head>
   <body>
	<table class="headers"  dir="rtl" align="center" cellspacing="0" cellpadding="0">
	    <tr class="headers">
	    <td class="headers" style="width: 5%">
	    &nbsp;
	    	</td>
	    <td class="headers" style="width: 10%">
	    האולפן
	    </td>
	    <td class="headers" style="width: 10%">
	    השירותים שלנו</td>
	    <td class="headers" style="width: 10%">
	    השכרת אולפן
	    </td>
	    <td class="headers" style="width: 10%">
	    על הצוות
	    </td>
	    <td class="headers" style="width: 12%">
	    &nbsp;</td>
	    <td class="headers" style="width: 12%">
	    &nbsp;</td>
	    <td class="headers" style="width: 15%">
	    אזור אישי</td>

	    </tr>
	</table>
      
   </body>
</html>