{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 



<table>
    <tr>
        <td><button class="button" onclick="openInNewTab('{% url "last_version" creation_id=creation.id%}')">גרסא אחרונה</button> </td>
    </tr>
    <tr>
        <td><button class="button" onclick="openInNewTab('{% url "notes" creation_id=creation.id%}')">שלח הערה</button> </td>
    </tr>
    <tr>
        <td><button class="button button_highlighted">אשר סיום</button> </td>
    </tr>
    
</table>

<div>
    </div>
