{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "creations_css.css" %}">
{% endblock css_files %} 

{% block js_files %}
<script src="{% static "js/utils.js" %}"></script>

{% endblock js_files %} 

{% block title %}
Artwork
{% endblock title %}
{% block content%}
<br>
<div class="creation_table_div"> 

    {% if  'customer' in request.session.user_type %}
    {% include "studio/pages/creations_page/mods/creations_customer.html" %}
    {% elif  'worker' in request.session.user_type %}
    {% include "studio/pages/creations_page/mods/creations_worker.html" %}
    {% elif 'manager' in request.session.user_type %}
    {% include "studio/pages/creations_page/mods/creations_customer.html" %}
    {%endif%}

</div>

<div>
    <br>
    <br>
    <br>
</div>

{%endblock%}