{% extends 'base.html' %}
{% load static %}
<script src="{% static 'js/utils.js' %}"></script> 
{% block css_files %}
<link rel="stylesheet" href="{% static "creations_css.css" %}">
{% endblock css_files %} 
{% block title %}
Artwork
{% endblock title %}
{% block content%}

{% if  'customer' in request.session.user_type %}
{% include "studio/pages/creations_page/mods/creations_customer.html" %}
{% elif  'worker' in request.session.user_type %}
{% include "studio/pages/creations_page/mods/creations_worker.html" %}
<!--{% elif 'manager' in request.session.user_type %}
{% include "studio/includes/mainframe/side_menus/side_menu_manager.html" %}
{% else %}
{% include "studio/includes/mainframe/side_menus/side_menu_guest.html" %}
-->
{% endif %}

{%endblock%}