@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
* {
	font-family: "Assistant"
}


table.headers {
	border-collapse: separate;
	 width: 100%;
	  height: 7%;
}

td.headers {
	border: solid 1px #CE233C;
	background-color: #CE233C;
	font-family:Assistant;
	text-align:center;
	font-size: 18px;
	font-weight:900;
	color:white;
}

tr.headers:first-child td:first-child {
	border-top-right-radius: 10px;
}

tr.headers:first-child td:last-child {
	border-top-left-radius: 10px;
}

tr.headers:last-child td:first-child {
	border-bottom-right-radius: 10px;
}

tr.headers:last-child td:last-child {
	border-bottom-left-radius: 10px;
}